* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin-top: 30px;
}

main {
  max-width: 500px;
  margin: 30px auto;
  padding: 30px 10px;
}

select {
  padding: 5px;
}

#info-area {
  margin: 30px;
}

#play-area {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
}

/* W3Schools and MDN Wed docs were consulted on how to create a grid and how to use grid templates: https://www.w3schools.com/css/css_grid_container.asp and https://developer.mozilla.org/en-US/docs/Web/CSS/grid*/
#answers-area {
  display: grid;
  grid-template-columns: 90px 90px 40px;
  grid-template-rows: repeat(8, auto);
  flex-grow: 0;
}

#answers-area > div {
  background-color: #72aaca;
  border: 1px solid black;
  border-radius: 2px;
  margin: 5px;
  height: 30px;
  padding: 5px;
}

/* Style the drop zone squares using the class .drop-zone created in script.js*/
#answers-area .drop-zone {
  border: 1px dotted black;
  background-color: aliceblue;
}

/* How to use CSS wildcard selector taken from: https://www.geeksforgeeks.org/wildcard-selectors-and-in-css-for-classes/#starts-with-wildcard-selector*/
#answers-area > [id^="2-"] {
  background-color: aliceblue;
}

/* W3School was consulted to learn how to create a vertical line: https://www.w3schools.com/howto/howto_css_vertical_line.asp*/
/*Vertical line to separate the options area from the answers area */
.vl {
  border-left: 2px dotted black;
  height: 350px;
  display: none;
}

#options-area {
  display: grid;
  grid-template-columns: 90px;
  grid-template-rows: repeat(6, auto);
  padding: 30px 0;
  flex-grow: 1;
}

#options-area > div {
  background-color: wheat;
  border: 1px solid black;
  border-radius: 2px;
  margin: 5px 0 5px 10px;
  height: 30px;
  padding: 5px;
}

#answer-count {
  margin: 10px 5px;
}

#answer-count > span {
  margin: 5px;
  font-weight: bold;
}

button {
  margin: 30px auto 0 auto;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  main {
    border: 1px solid black;
    border-radius: 5px;
    background-color: blanchedalmond;
  }
}
